<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>AGENDAMENTO</title>
  </head>
  <body>
   </body>
   <h1>Escolha uma das seguintes opções de Agendamento</h1>
    <button onclick="botao1">Validar Proposta</button>
    <button onclick="botao2">Atribuir alunos</button>
    <button onclick="botao3">Editar Propostas</button>
    <button onclick="botao4">Calcular Disponibilidade</button>
    <a href="/salas"><button>Salas Disponíveis</button></a>
   </body>
</html>