<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Horários</title>
</head>
<body>

  <h1>Cadastro de Horários</h1>

  <form action="/add-horario" method="POST">
     <label>Hora</label>
    <input type="text" name="hora"><br><br>

    <label>Prova</label>
    <input type="text" name="nome"><br><br>

    <label>Docente</label>
    <input type="text" name="nome2"><br><br>
    <label>Alunos</label>
    <input type="text" name="lista"><br><br>
    <label>Disponivel</label>
    <input type="text" name="Dispon"><br><br>

     <button type="submit">Cadastrar</button>
  </form>

</body>
</html>