<h1>Formulário para registar Salas</h1>

<form action="/add-salas" method="POST">
    <label>Nome da Sala</label>
    <input type="text" name="nome"><br><br>

    <label>Edificio</label>
    <input type="text" name="valor"><br><br>

    <label>Capacidade</label>
    <input type="text" name="valor1"><br><br>

    <button type="submit">Cadastrar</button>
</form>