<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>AGENDAMENTO</title>
  </head>
  <body>
    <h1>Escolha uma das seguintes opções</h1>
    <button onclick="alert('Botão 1 clicado!')">Verificar Agendamento</button>
     <a href="/agendamento"><button>Verificar Agendamento</button></a>
     <a href="/cad-sala"><button>Adicionar Salas</button></a>
     <a href="/salas"><button>Remover Salas</button></a>
    <button onclick="alert('Botão 1 clicado!')">Notificar Docentes</button>
    <button onclick="alert('Botão 2 clicado!')">Alterar Agendamento</button>
    <button onclick="alert('Botão 2 clicado!')">Detalhes de uma Prova</button>
    <button onclick="alert('Botão 2 clicado!')">Tempo de Admissão</button>
   </body>
   </body>
</html>